<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %>">
    <button class="close" data-dismiss="alert">×</button>
    <span class="label <%= bootstrap_class_for(type) %> amber darken-4"><%= message %></span>
  </div>
<% end %>
